<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index-2.html" class="logo">
                    <img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Medzin</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="/assets/img/user.jpg" width="40"
                                alt="Admin">
                            <span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">

                        <a class="dropdown-item" onclick="logout()">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <!-- Navbar Start -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <!-- <li>
                            <a href="/client/patient/dashboard"><i class="fa fa-dashboard"></i>
                                <span>Dashboard</span></a>
                        </li> -->
                        <li>
                            <a href="/client/patient/records"><i class="fa fa-calendar"></i>
                                <span>My Records</span></a>
                        </li>
                        <li>
                            <a href="/client/patient/appointments"><i class="fa fa-user-md"></i> <span>My
                                    Appointments</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Current Appointments</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Appointment ID</th>


                                        <th>Doctor Name</th>
                                        <th>Department</th>
                                        <th>Appointment Date</th>
                                        <th>Appointment Time</th>
                                        <th>Status</th>
                                        <!-- <th class="text-right">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>

                                    <%for(var i=0; i< data.length; i++){%>
                                        <tr>
                                            <td>
                                                <%=data[i].appointment_id%>
                                            </td>


                                            <td>
                                                <%=data[i].dfirst%>
                                                    <%=data[i].dlast%>
                                            </td>
                                            <td>
                                                <%=data[i].specialization%>
                                            </td>
                                            <td>
                                                <%=data[i].appointment_date%>
                                            </td>
                                            <td>
                                                <%=data[i].appointment_time%>
                                            </td>

                                            <% if(data[i].isactive==true ){ %>
                                                <td><span class="custom-badge badge-primary">Is Active</span></td>
                                                <% } else { %>
                                                    <td><span class="custom-badge badge-danger">Not Active</span></td>
                                                    <% }%>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Past Appointments</h4>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Appointment ID</th>


                                        <th>Doctor Name</th>
                                        <th>Department</th>
                                        <th>Appointment Date</th>
                                        <th>Appointment Time</th>
                                        <th>Status</th>
                                        <!-- <th class="text-right">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>

                                    <%for(var i=0; i< backup.length; i++){%>
                                        <tr>
                                            <td>
                                                <%=backup[i].appointment_id%>
                                            </td>


                                            <td>
                                                <%=backup[i].dfirst%>
                                                    <%=backup[i].dlast%>
                                            </td>
                                            <td>
                                                <%=backup[i].specialization%>
                                            </td>
                                            <td>
                                                <%=backup[i].appointment_date%>
                                            </td>
                                            <td>
                                                <%=backup[i].appointment_time%>
                                            </td>

                                            <% if(backup[i].isactive==true ){ %>

                                                <td><span class="custom-badge btn btn-primary">Is Active</span></td>
                                                <% } else { %>
                                                    <td><span class="custom-badge status-red">Not Active</span></td>
                                                    <% }%>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script>
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'LT'
            });
            $('#datetimepicker4').datetimepicker({
                format: 'LT'
            });
        });


        function logout() {
            window.location.href = "/client/patient/login"
        }
    </script>
</body>


<!-- appointments23:20-->

</html>